<a href="https://colab.research.google.com/github/Vladimir2303850/MyAnalyticsProjects/blob/main/%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7_%D0%B8_%D0%BE%D1%87%D0%B8%D1%81%D1%82%D0%BA%D0%B0_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Задачи**

Загрузить исходную выборку данных в датафрейм для последующего анализа.

Изучить структуру данных, вывести первые строки датафрейма.

Определить количество ненулевых значений в столбцах для выявления пропусков.

Удалить лишние столбцы.

Заполнить пропущенные значения средними по соответствующим столбцам.

Выявить выбросы в числовых столбцах с помощью межквартильного размаха (IQR).

Удалить строки с выбросами для улучшения качества данных.

Сравнить основные статистические показатели (среднее, минимум, максимум) до и после обработки данных.

Подготовить датафрейм для дальнейшего статистического анализа и принятия решений.

In [ ]:
import pandas as pd

In [ ]:
df_excel = pd.read_excel('data.xlsx')
df_excel.head()

   ID  Возраст  Зарплата  Балл            Город
0   1     25.0   50000.0  85.0           Москва
1   2     30.0   70000.0  90.0  Санкт-Петербург
2   3      NaN       NaN   NaN     Екатеринбург
3   4     22.0   30000.0  78.0           Казань
4   5     40.0  150000.0  95.0      Новосибирск

**Количество записей**

In [ ]:
count = df_excel.count()
print(count)

ID          20
Возраст     17
Зарплата    16
Балл        16
Город       19
dtype: int64

**Максимальные значения**

In [ ]:
numerical_columns = df_excel.select_dtypes(include='number')
max_df = numerical_columns.max()
print(max_df)

ID              20.0
Возраст         50.0
Зарплата    999999.0
Балл           100.0
dtype: float64

**Минимальные значения**

In [ ]:
min_df = numerical_columns.min()
print(min_df)

ID              1.0
Возраст        22.0
Зарплата   -15000.0
Балл           75.0
dtype: float64

**Средние значения**

In [ ]:
avg_df = numerical_columns.mean()
print(avg_df)

ID              10.500000
Возраст         32.058824
Зарплата    142062.437500
Балл            86.750000
dtype: float64

**Обработка пропусков**

In [ ]:
df_fillavg = df_excel.select_dtypes(include='number')
df_fillavg = df_fillavg.drop(columns='ID')
print(df_fillavg)

    Возраст  Зарплата   Балл
0      25.0   50000.0   85.0
1      30.0   70000.0   90.0
2       NaN       NaN    NaN
3      22.0   30000.0   78.0
4      40.0  150000.0   95.0
5      28.0   48000.0   88.0
6      35.0   60000.0   84.0
7       NaN       NaN    NaN
8      45.0  999999.0  100.0
9      32.0  -15000.0   76.0
10     29.0   54000.0   75.0
11     27.0   52000.0   88.0
12     50.0  120000.0   92.0
13      NaN       NaN    NaN
14     31.0   65000.0   89.0
15     26.0   47000.0   82.0
16     38.0  400000.0   95.0
17     24.0   32000.0   80.0
18     29.0  110000.0   91.0
19     34.0       NaN    NaN

In [ ]:
mean_values = df_fillavg.mean()
df_fillavg.fillna(mean_values, inplace=True)
print(df_fillavg)

      Возраст     Зарплата    Балл
0   25.000000   50000.0000   85.00
1   30.000000   70000.0000   90.00
2   32.058824  142062.4375   86.75
3   22.000000   30000.0000   78.00
4   40.000000  150000.0000   95.00
5   28.000000   48000.0000   88.00
6   35.000000   60000.0000   84.00
7   32.058824  142062.4375   86.75
8   45.000000  999999.0000  100.00
9   32.000000  -15000.0000   76.00
10  29.000000   54000.0000   75.00
11  27.000000   52000.0000   88.00
12  50.000000  120000.0000   92.00
13  32.058824  142062.4375   86.75
14  31.000000   65000.0000   89.00
15  26.000000   47000.0000   82.00
16  38.000000  400000.0000   95.00
17  24.000000   32000.0000   80.00
18  29.000000  110000.0000   91.00
19  34.000000  142062.4375   86.75

**Удаление выбросов с помощью метода межквартильного размаха**

In [ ]:
def remove_outliers(df):
    df_cleaned = df.copy()
    for column in df.select_dtypes(include=['number']):
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        df_cleaned = df_cleaned[(df_cleaned[column] >= lower_bound) & (df_cleaned[column] <= upper_bound)]
    return df_cleaned
df_cleaned = remove_outliers(df_fillavg)
print(df_cleaned)

      Возраст     Зарплата   Балл
0   25.000000   50000.0000  85.00
1   30.000000   70000.0000  90.00
2   32.058824  142062.4375  86.75
3   22.000000   30000.0000  78.00
4   40.000000  150000.0000  95.00
5   28.000000   48000.0000  88.00
6   35.000000   60000.0000  84.00
7   32.058824  142062.4375  86.75
9   32.000000  -15000.0000  76.00
10  29.000000   54000.0000  75.00
11  27.000000   52000.0000  88.00
13  32.058824  142062.4375  86.75
14  31.000000   65000.0000  89.00
15  26.000000   47000.0000  82.00
17  24.000000   32000.0000  80.00
18  29.000000  110000.0000  91.00
19  34.000000  142062.4375  86.75

**Просмотр средних значений измененного датасета**

In [ ]:
avg_df = df_cleaned.mean()
print(avg_df)

Возраст        29.892734
Зарплата    77720.573529
Балл           85.176471
dtype: float64